<!-- <header>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Do Smartly</span>
    </button>
        <% if (user) { %>
          <form class="form-inline my-2 my-lg-0 text-light" action="/logout" method="POST">
            <div class="form-group mb-2">
              <label for="user" style="margin: 1em">Hello, <%= user.email %></label>
              <button type="submit" class="btn btn-primary">Logout</button>
            </div>
          </form>
        <% } else { %>
          <a class="nav-item nav-link text-light" href="/register">Register</a>
          <a class="nav-item nav-link text-light" href="/login">Login</a>
        <% } %>
  </nav>
</header> -->
