<header>
  <nav class="nav-bar">
    <div class="nav-title">
      <i class="fas fa-check-circle"></i>
      <span>Done Smartly</span>
    </div>
    <div class="nav-header">
      <a class="nav-item nav-link text-light" href="/login">Login</a>
      <a class="nav-item nav-link text-light" href="/register">Register</a>
    </div>
  </nav>
</header>
