<header>
  <nav class="nav-bar">
    <div class="nav-title">
      <i class="fas fa-check-circle"></i>
      <span>Done Smartly</span>
    </div>

    <div class="nav-header">
<<<<<<< HEAD
      <form action="/logout" method="POST">
        <div class="nav-username-display">
          <label for="user" style="margin: 1em">Hello, </label>
          <button type="submit" class="btn btn-primary">Logout</button>
        </div>
      </form>

      <form action="/login" method="POST">
        <div class="nav-login-display">
          <input type="text" placeholder="Username" name="username">
          <input type="text" placeholder="Password" name="psw">
          <button type="submit">Login</button>
        </div>
      </form>

=======
      <a class="nav-item nav-link text-light" href="/login">Login</a>
      <a class="nav-item nav-link text-light" href="/register">Register</a>
>>>>>>> 1bf21ced863fda26aa97706a06983bb6d93bca57
    </div>
  </nav>
</header>




