<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/to_dos.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <main>
      <table>
        <tr>
          <th>Eat</th>
          <th>Watch</th>
          <th>Read</th>
          <th>Buy</th>
        </tr>
        <tr>
          <td id="restaurants"></td>
          <td id="film_shows"></td>
          <td id="books"></td>
          <td id="products"></td>
        </tr>
      </table>

      <table>
        <tr>
          <th>uncategorized</th>

        </tr>
        <tr>
          <td id="uncats"></td>
        </tr>
      </table>
    </main>
  </body>
</html>
