body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background-color: #f4f1ec;
  font-size: 1rem;

}

body h1 {
  color: #244751;
}

.tables {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}

table,
td {
  border: solid;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
