form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

form .text-box {
  width: 70%;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form .text-box input {
  text-align: center;
  border: 0px;
  border-bottom: solid 0.3rem;
  width: 100%;
  color: black;
}

form #newToDo {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

form .submit-button {
  display: flex;
  justify-content: center;
  align-content: center;
}

form .submit-button button {
  border-radius: 0.4rem;
  font-size: 2rem;
  background-color: #14A697;
  border: 0;
  color: white;
}

form button {
  border: solid;
}
