.tables {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  overflow-wrap: anywhere;
}

.tables td {
  padding-top: 2rem;
  font-size: 1.5rem;
  justify-items: center;
  align-items: center;
}

.tables th {
  font-size: 2rem;
  border-bottom: solid;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tables th tr {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
